/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif; /* Clean and modern font */
  background-color: #f4f4f4; /* Light gray background for the body */
  color: #333; /* Dark text color */
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}

/* Header Styles */
header {
  background-color: #333; /* Dark background for header */
  color: white; /* White text */
  padding: 20px 0;
  text-align: center;
}

header h1 {
  font-size: 2.5rem;
}

.App-nav {
  margin-top: 20px;
}

.App-nav a {
  margin: 0 15px;
  color: white;
  font-size: 1.1rem;
  text-transform: uppercase;
}

.App-nav a:hover {
  color: #4caf50; /* Highlight the links on hover */
}

/* Main Content Sections */
.App-section {
  padding: 60px 20px;
  text-align: center;
  background-color: #fff; /* White background for sections */
  margin: 20px 0;
  border-radius: 8px;
}

.App-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.App-section p {
  font-size: 1rem;
  max-width: 800px;
  margin: 0 auto;
}

/* Footer Styles */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

footer p {
  font-size: 1rem;
}
.CybotCookiebotDialog {
  background-color: #f5f5f5; /* Wijzig achtergrondkleur */
}
.CybotCookiebotDialogBodyButton {
  color: #fff; /* Wijzig tekstkleur */
  background-color: #007bff; /* Wijzig knopkleur */
}

/* Responsive Design */
@media (max-width: 768px) {
  body {
    padding: 0 10px;
  }

  header h1 {
    font-size: 2rem;
  }

  .App-nav a {
    font-size: 1rem;
  }

  .App-section {
    padding: 40px 15px;
  }

  .App-section h2 {
    font-size: 1.8rem;
  }

  .App-section p {
    font-size: 0.9rem;
  }

  footer p {
    font-size: 0.9rem;
  }
}
